<%= form_for(@labelsheet) do |f| %>
  <% if @labelsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labelsheet.errors.count, "error") %> prohibited this labelsheet from being saved:</h2>

      <ul>
      <% @labelsheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :days %><br>
    <%= f.number_field :days %>
  </div>

  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
