<%= form_for(@labelsheet, :html => {:target => '_blank'}) do |f| %>
  <% if @labelsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labelsheet.errors.count, "error") %> prohibited this labelsheet from being saved:</h2>

      <ul>
      <% @labelsheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <br/>

  <div class="field">
    <%= f.number_field :days %>
    <%= f.label "Number of Days" %>
  </div>
  <br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
