<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @spreadsheet.index %>
  <%= @spreadsheet.file_name if @spreadsheet.file_stored? %>
</p>

<%= link_to 'Edit', edit_spreadsheet_path(@spreadsheet) %> |
<%= link_to 'Back', spreadsheets_path %>
